body{
    background: rgb(224, 223, 211) url('imagens/fundo.png') ;
    font: 16px Arial, Helvetica, sans-serif;
}

#principal{
    width: 900px;

}

#menu{
    background-color: rgb(189, 185, 172);
    padding: 15px;
}

#conteudo{
    background:rgb(224, 223, 211);
    padding: 10px;

}

#rodape{
    color:rgb(90, 65, 53);
}

a{
    color:rgb(90, 65, 53);
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
   
}

.centralizar{
    text-align: center;
}

.img-campanha{
    border:10px solid rgb(173, 159, 139);
}

h1{
    color:rgb(165, 147, 125);
    font-size: 1.2em;;
}


